#pl_leftnav_group,
#pl_leftnav_app,
.left_nav_line,
#Box_right,
#pl_content_biztips,
.footer_adv,
.global_footer,
.title_area,
.WB_feed_datail .S_line2,
.tab_nosep,
.group_read,
.W_ico16,
.icon_fifa,
.send_weibo .input .arrow,
.send_weibo .input.clicked .arrow,
.WB_feed_type.SW_fun.S_line2.type_spe,
.WB_feed_type.SW_fun.W_no_border.S_line2,
.WB_feed .WB_feed_together,
.WB_feed .WB_arrow,
.WB_webim .wbim_min_friend .statusbox i,
.W_tips.tips_error {
  display: none; }

.WB_func,
.map_data,
.func_area,
.comment_list dd .info {
  opacity: 0; }

.WB_func:hover,
.map_data:hover,
.func_area:hover,
.comment_list dd .info:hover {
  opacity: 1; }

.WB_feed .WB_text {
  padding: 10px 0 10px; }

body, .W_main, .WB_global_nav .gn_bg {
  background: none; }

.WB_global_nav {
  box-shadow: none; }

.W_main_a {
  background: none;
  width: 590px; }

.B_index .W_main_l {
  padding: 30px; }

.WB_feed .WB_feed_datail {
  border: none; }

.W_face_radius {
  border-radius: 25px; }

.WB_feed .WB_media_expand {
  border: none;
  border-radius: 8px;
  padding: 20px 20px 10px; }

.S_bg1, a.W_gotop, .SW_fun_bg {
  background-color: #f8f8f8; }

.WB_feed .WB_media_list li img {
  border-radius: 8px; }

.WB_webim .webim_win_minD {
  width: 80px !important; }

.WB_webim .wbim_min_friend .statusbox {
  padding: 0 !important;
  margin: 0 !important; }

.WB_feed a.notes {
  background: none;
  border: none; }
  .WB_feed a.notes:hover {
    background: none;
    text-decoration: none;
    color: #d77b11; }

.WB_left_nav .lev a:hover {
  background: #f8f8f8; }

.S_line1 {
  border-color: #f8f8f8; }

.comment_list img {
  border-radius: 30px; }
