
// #pl_leftnav_group,                        *** 好友圈，分组
// #pl_leftnav_app,                          *** 官方应用，最近使用
// .left_nav_line,                           *** 左边栏的分割线
// #Box_right,                               *** 整个右边栏
// #pl_content_biztips,
// .footer_adv,                              *** 页脚横幅广告
// .global_footer,                           *** 微博页脚
// .title_area,                              *** 有什么新鲜事想告诉大家
// .WB_feed_datail .S_line2,                 *** 推荐：好友关注
// .tab_nosep,
// .group_read,
// .W_ico16,                                 *** 各种认证图标
// .icon_fifa,                               *** 世界杯
// .send_weibo .input .arrow,                *** 发送框旁边的箭头
// .send_weibo .input.clicked .arrow,        *** 发送框旁边的箭头
// .WB_feed_type.SW_fun.S_line2.type_spe,    *** 推广feed
// .WB_feed_type.SW_fun.W_no_border.S_line2  *** 引用微博的框线
// .WB_feed .WB_feed_together                *** 还有 n 条对原微博的转发
// .WB_feed .WB_arrow                        *** 引用微博区块上边的箭头
// .WB_webim .wbim_min_friend .statusbox i   *** 私信小方块图标
// .W_tips.tips_error                        *** 开通微博会员提示

#pl_leftnav_group,
#pl_leftnav_app,
.left_nav_line,
#Box_right,
#pl_content_biztips,
.footer_adv,
.global_footer,
.title_area,
.WB_feed_datail .S_line2,
.tab_nosep,
.group_read,
.W_ico16,
.icon_fifa,
.send_weibo .input .arrow,
.send_weibo .input.clicked .arrow,
.WB_feed_type.SW_fun.S_line2.type_spe,
.WB_feed_type.SW_fun.W_no_border.S_line2,
.WB_feed .WB_feed_together,
.WB_feed .WB_arrow,
.WB_webim .wbim_min_friend .statusbox i,
.W_tips.tips_error,
div[node-type=hot],
div[node-type=game],
div[node-type=member],
div[node-type=logo],
.gn_btn
  display: none !important

// 鼠标滑过显示：
// 微博撰写框下的小工具栏，
// 微博尾巴，
// 地理位置等

.WB_func,
.map_data,
.func_area,
.comment_list dd .info,
  opacity: 0

.WB_func:hover,
.map_data:hover,
.func_area:hover,
.comment_list dd .info:hover,
  opacity: 1

// 微博内容上下加点呼吸空间
.WB_feed .WB_text
  padding: 10px 0 10px


// 移除上导航条背景
body, .W_main, .WB_global_nav .gn_bg
  background: none

// 移除上导航条阴影
.WB_global_nav
  box-shadow: none

// 上导航搜索栏
.gn_nav
  margin: 0 0 0 45px !important
.gn_search
  margin: 7px 0 0 220px !important
  background: none !important
  &.gn_clicked, &:hover
    border: none !important
    box-shadow: none !important
    & .gn_input
      color: #FFF !important
.gn_topmenulist
  border: none
.gn_topmenulist_search
  border-radius: 4px
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2)

// 移除微博展示区域背景，设置宽度和圆角
.W_main_a
  background: none
  width: 590px
  // border-radius: 6px


// 左边栏呼吸空间调整：首页，消息，收藏，发给我的
.B_index .W_main_l
  padding: 30px


// 微博之间的横线
.WB_feed .WB_feed_datail
  border: none


// 用户头像圆角
.W_face_radius
  border-radius: 25px


// 转发内容展示框
.WB_feed .WB_media_expand
  border: none
  border-radius: 8px
  padding: 20px 20px 10px


// 引用微博区块的背景颜色：淡淡的灰色
.S_bg1, a.W_gotop, .SW_fun_bg
  background-color: #F8F8F8

// 引用微博图片圆角
.WB_feed .WB_media_list li img
  border-radius: 8px


// 页面右下角 私信聊天
.WB_webim .webim_win_minD
  width: 80px !important

.WB_webim .wbim_min_friend .statusbox
  padding: 0 !important
  margin: 0 !important


// 新微博提示
.WB_feed a.notes
  background: none
  border: none
  &:hover
    background: none
    text-decoration: none
    color: #D77B11


// 左导航 hover 颜色
.WB_left_nav .lev a:hover
  background: #F8F8F8


// 评论区域分割线颜色
.S_line1
  border-color: #F8F8F8

.comment_list img
  border-radius: 30px
